@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body, #root, .app, .content {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-section {
  box-shadow: 0 6px 10px 0 rgba(67,153,235,.1);
  border-radius: 0 0 10px 10px;
  padding: 20px;
  margin: auto;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

